<%- include('header') -%>

<h1>About ME</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore distinctio incidunt sit aliquam, possimus sunt, dolorum, totam quo aspernatur tempore
    veritatis nostrum culpa unde asperiores doloribus voluptates aut repellendus fugiat!
    Ipsa perspiciatis quo, eos facilis quasi amet dolorum possimus ea aliquid aut. Maxime id excepturi soluta tempore animi reprehenderit consectetur iusto
    tempora sed dolore, ipsa, consequatur qui, laborum minima. Sequi?
    Eum vero perferendis quibusdam inventore quas, a distinctio non beatae voluptatibus sint nihil reprehenderit, quasi at sed natus fugit, ducimus maiores quam
    asperiores! Aut tempora accusamus fugiat hic ipsum eius!</p>
<%- include('footer') -%>